
footer {
    position: sticky;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0d0412;
    color: #ffffff;
    padding: 10px 20px;
    z-index: 10000;
    /* box-shadow: 0 0 25px 0 #000000; */
  }
  
  footer .foot {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    width:100%
  }

  
  .footer {
    width: 100%!important; /* Make the footer take up the full width */
    margin: 0!important; /* Remove any margins */
    padding: 10px; /* Add some padding to make the footer look nicer */
    box-sizing: border-box; /* Include the padding in the width calculation */
  }
  .footer .column {
    /* float: left;
    width: 25%;
    padding: 5px; */
    text-align: left;
  }
  .footer .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1; /* make each column take equal space */
    margin: 10px; /* add some margin for spacing */
  }

  .copyright {
    text-align: left;
  }
