/* NAVBAR STYLING STARTS */


header {
  position: fixed;
  z-index: 1000;
}

  .navbar {
    background-color: #1e082a;
    overflow: hidden;
    color: white;
    font-size: 16px;
    padding: 14px 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* transparent with a black tint */
    /* transition: top 0.5s;  */
    z-index: 1000;
    transition: transform 0.3s;
  }
  .navbar .hide {
    transform: translateY(-100%);
  }
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar .logo {
    font-size: 20px;
    font-weight: bold;
  }
  .navbar .right {
    float: right;
  }
  .navbar .highlight {
    background-color: #270938;
    border-radius: 50%;
    padding: 10px 12px;
  }

  .hide {
    transform: translateY(-100%);
  }
  .navbar {
     /* adjust the transition duration to your liking */
  }
  
  .navbar.slide-up {
    transform: translateY(-100%);
  }
  
  
  .menu img {
    height: 50px;
    width: auto;
  }

  /* LOGO */
  .logo {
    font-size: 32px;
  }
  .logo img {
    width: 60%;
    height: 100%;
    object-fit: contain;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    /* gap: 1em; */
  }
  
  .menu li:hover {
    background-color: #ffffff;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    
    transition: 0.3s ease;
  }
  
  /* .menu li {
    padding: 10px 10px;
  } */
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(0, 0, 0);
    padding: 1em 1em;
    position: absolute;
    display: none;
    width: 13em;
    /* border-radius: 8px; */
    top: 56px;
  }
  
  .dropdown li + li {
    margin-top: 1px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    /* width: 8em; */
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #300000;
  }
  
  .services:hover .dropdown {
    display: block;
  }
  